---
import Layout from "../layouts/layout.astro";
import CreationCompte from "../components/creer-myturn.astro";

---

<Layout title="Adhésion particulier">
  <main>
    <h2 class="h2PaddingTopSmall">Adhésion particulier</h2>
    <section id="particulier">
      <p>
        Nos objets sont issus principalement de <strong>dons</strong> ou de
        <strong>récuparation</strong> !
        <br />Si vous avez des objets que vous n'utilisez plus, n'hésitez pas à
        nous les amener, ils profiteront d'une <strong>seconde vie ! </strong>
        <br />
        <br /><strong>Contactez-nous :</strong>
      </p>
      <br /><br />
    </section>
    <CreationCompte />
  </main>
  <style type="text/css">
    #particulier {
      margin-inline: clamp(5%, 2rem, 60%);
      padding-left: 1rem;
      color: var(--dark-text-color);
      margin-block: 30px;
    }
  </style>
</Layout>
