---
import Layout from "../layouts/layout.astro";
---

<Layout title="Adhésion particulier">
  <main>
    <h2 class="h2PaddingTopSmall">Adhésion particulier</h2>
    <section id="particulier">
      <p>
        Vous pouvez consulter le catalogue à tout moment en cliquant sur le
        bouton orange "Catalogue" <br />
        Pour <strong>emprunter</strong> un objet, il faut s'inscrire sur <a
          class="soulignementOrange"
          target="_blank"
          href="https://objethequecornouaille.myturn.com/library/createUser/create?requestedFormat="
          ><strong>myturn.com</strong></a
        >, qui héberge notre catalogue.
      </p>
      <br />
      <p>
        Si vous possédez déjà un compte, cliquer sur le bouton orange "Mon
        compte" vous ménera à la page de connexion.
      </p>
      <br />
      <p>
        Une fois <strong>connecté.e</strong> avec votre compte myturn, si vous ne
        trouvez pas la page des options d'adhésion, <a
          href="https://objethequecornouaille.myturn.com/library/myAccount/selectMembershipType"
          class="soulignementOrange"><strong>suivez ce lien</strong></a
        >
      </p>
      <br />
      <br />
      <p style="font-size: 1.25em;">
        <strong>Les différents types d'adhésion :</strong>
      </p>
      <div id="tableauAdhesion">
        <p><strong>Adhésion mensuelle</strong> (30 jours)</p>
        <p><strong>Adhésion annuelle</strong></p>
        <p>Tarif réduit*: 10€</p>
        <p>Tarif réduit*: 30€</p>
        <p><strong>Tarif normal:</strong> 20€</p>
        <p><strong>Tarif normal:</strong> 60€</p>
        <p>Tarif soutien: 30€</p>
        <p>Tarif soutien: 90€</p>
      </div>
      <p>*Le tarif réduit s’adresse aux étudiants, demandeurs d’emploi, RSA.</p>
      <br />
      <p>
        💡 Vous pouvez passer de l’adhésion mensuelle à annuelle en payant la
        différence ( pendant un mois après l’expiration de l’adhésion mensuelle)
      </p>
      <br />
      <p>
        <strong
          >Votre compte sur le catalogue en ligne sera validé une fois le
          paiement de l’adhésion reçu.</strong
        >
      </p>
      <p>
        Vous pouvez payer <strong>en ligne ou sur place</strong> (nous acceptons
        les cartes/chèques/espèce) au 4 rue Jacques Cartier à Quimper pendant les
        heures d’ouverture.
      </p>
      <br />
      <p class="textePlusClair">
        L’Objethèque de Cornouaille est une <strong>association</strong> qui offre
        le prêt d’outils et de matériel. C’est simple, ça fonctionne comme une bibliothèque,
        mais à la place d’y emprunter des livres, on y emprunte des objets!
      </p>
      <br />
      <p>
        💭 <strong
          >Nous sommes ouverts aux dons et mises à disposition de matériel</strong
        >
        (contactez-nous avec photo et descriptif: objetheque.materiel@gmail.com ou
        07 49 11 27 34), nous recherchons aussi des bénévoles pour différentes missions
        intéressantes, n’hésitez pas à <a
          href="devenir-benevole.html"
          class="soulignementOrange"><strong>nous rejoindre!</strong></a
        >
      </p>
      <br />
      <p>
        💰 <strong>Frais de retard 15€:</strong> non prévenu ou pour un article qui
        était réservé par une autre personne.
      </p>
      <br />
      <p>
        Pour rappel, vous pouvez prolonger vos objets directement depuis votre
        compte en ligne une seule fois <strong>AVANT</strong> la fin de votre date
        de prêt. Une fois la fin du prêt inscrite sur le catalogue, vous ne pouvez
        plus le faire vous-même. Par conséquent, vous êtes en retard et nous vous
        demanderons de vous acquitter de ces frais de retard.
      </p>
      <br />
      <p>
        Nous espérons que vous comprendrez cette mesure destinée à faire en
        sorte que les objets soient accessibles à chacun·e et que le service
        soit de meilleure qualité.
      </p>
      <br />
      <p>
        💰 <strong>Frais de nettoyage 15€:</strong> En cas d’absence de nettoyage
        lors du retour de l’objet
      </p>
    </section>
    <img class="imgCentre" src="assets/webp/recapemprunt.webp" alt="récapitulatif de la procédure d'emprunt" />
  </main>
  <style type="text/css">
    #particulier {
      margin-inline: clamp(5%, 2rem, 60%);
      padding-left: 1rem;
      color: var(--dark-text-color);
      margin-block: 30px;
    }
    #particulier p a {
      color: var(--dark-text-color);
    }
    #tableauAdhesion {
      display: grid;
      grid-template-columns: auto auto;
      border: 1px solid var(--dark-text-color); /* Single border around the grid */
      margin-block: calc(var(--marginBlock) / 2);
      margin-inline: 1rem;
    }
    #tableauAdhesion p {
      border-top: 1px solid var(--dark-text-color); /* Top border for all cells */
      border-left: 1px solid var(--dark-text-color); /* Left border for all cells */
      padding: 1em;
      margin: 0;
    }
    /* Remove border from the first row's top and first column's left */
    #tableauAdhesion p:nth-child(-n + 2) {
      border-top: none; /* Remove top border from first row */
    }
    #tableauAdhesion p:nth-child(2n + 1) {
      border-left: none; /* Remove left border from first column */
    }
  </style>
</Layout>
