---
import Layout from "../layouts/layout.astro";
import CreationCompte from "../components/creer-myturn.astro";

---

<Layout title="Adhésion particulier">
  <main>
    <h2 class="h2PaddingTopSmall">Adhésion particulier</h2>
    <section id="particulier">
      <p>
        Vous pouvez consulter le catalogue à tout moment en cliquant sur  le bouton orange "Catalogue" <br/>
        Pour <strong>emprunter</strong> un objet, il faut s'inscrire sur myturn.com, qui héberge notre catalogue :
      </p>
      <br /><br />
    </section>
    <CreationCompte />
  </main>
  <style type="text/css">
    #particulier {
      margin-inline: clamp(5%, 2rem, 60%);
      padding-left: 1rem;
      color: var(--dark-text-color);
      margin-block: 30px;
    }
  </style>
</Layout>
