---
import Layout from "../layouts/layout.astro";
---

<Layout title="Agenda">
  <main>
    <h2 class="h2PaddingTopSmall"></h2>
    <section id="agendaImage">
      <img
        class="imgCentre"
        src="activite.png"
        alt="programme octobre 2024"
      />
    </section>
  </main>
</Layout>
<style>
  #agendaImage {
    overflow-x: auto;
    margin-bottom: 5em;
  }
  #agendaImage img {
    min-width: 1000px;
  }
</style>
