---
import Layout from "../layouts/layout.astro";
import InfiniteScroller from "../components/infinite-scroller.astro";
import DocsUtiles from "../components/docsutiles.astro";
---

<Layout title="À propos">
  <main>
    <h2 class="h2PaddingTopSmall">
      <span class="ancre" id="H200">Nos valeurs</span>
      <p class="sousTexteH2">An deiziadoù da zont !</p>
    </h2>
    <section class="nosValeurs">
      <h3>
        1 / Partage et don
        <p>
          L'Objethèque est un lieu où les objets sont partagés et échangés entre
          les utilisateurs, encourageant ainsi la convivialité et la
          collaboration.
        </p>
      </h3>
      <h3>
        2 / Accès équitable
        <p>
          Elle est ouverte à toutes et tous, de manière accessible et juste,
          pour permettre à chacun d'accéder aux objets et aux connaissances.
        </p>
      </h3>
      <h3>
        3 / Durabilité et réduction des déchets
        <p>
          En favorisant le partage et la réutilisation des objets, l'Objethèque
          de Cornouaille contribue à réduire les déchets ou à ne pas en créer
          ainsi qu' à promouvoir une consommation plus durable.
        </p>
      </h3>
      <h3>
        Créativité et innovation
        <p>
          Nous encourageons la créativité et l'innovation en offrant un accès à
          des objets et des ressources diverses qui peuvent inspirer de
          nouvelles idées et projets.
        </p>
      </h3>
      <h3>
        Éducation et apprentissage
        <p>
          Un lieu d'apprentissage et d'éducation, où les utilisateurs peuvent
          découvrir de nouveaux objets et développer de nouvelles compétences.
        </p>
      </h3>
      <h3>
        Harmonie et lien social
        <p>
          Nous favorisons la création de liens sociaux et la construction de
          relations autour des objets et des intérêts partagés.
        </p>
      </h3>
      <h3>
        Responsabilité et respect
        <p>
          Nous encourageons les utilisateurs à prendre soin des objets et à les
          utiliser de manière responsable, en respectant les règles et les
          autres utilisateurs.
        </p>
      </h3>
    </section>
    <section class="notreEquipe">
      <h2>
        <span class="ancre" id="H201">Notre équipe </span>
        <p class="sousTexteH2">Hor skipailh</p>
      </h2>
      <img
        style="margin-block: var(--marginBlock); border-radius: 20px;"
        class="imgCentre"
        src="assets/img/equipe.jpg"
      />
      <div style="display: none;" class="media-scroller">
        <div class="media-element">
          <div>
            <img src="assets/img/MonaLisa.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mano.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mona.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mino.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mana.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mano.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mano.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mano.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
      </div>
    </section>
    <h2 class="ancre" id="H202">
      Nos partenaires
      <p class="sousTexteH2">Hor c'hevelerien</p>
    </h2>
    <InfiniteScroller />
    <h2 class="ancre" id="H203">
      Les médias en parlent
      <p class="sousTexteH2">Ar mediaoù a ra anv eus se</p>
    </h2>
    <section class="tabs-container">
      <ul aria-labelledby="H203">
        <li><a id="tab-1" href="#tout" data-tag="tout">Tout</a></li>
        <li><a id="tab-2" href="#presse" data-tag="presse">Presse</a></li>
        <li><a id="tab-3" href="#radio" data-tag="radio">Radio</a></li>
        <li><a id="tab-4" href="#TV" data-tag="TV">TV</a></li>
        <li><a id="tab-5" href="#web" data-tag="web">Web</a></li>
      </ul>
    </section>
    <section class="tabs__panels flow">
      <div id="panel-1" aria-labelledby="tab-1" data-tag="TV">
        <a
          href="https://www.letelegramme.fr/bretagne/toutes-les-infos/objetheque-un-nouveau-concept-a-quimper-pour-louer-plutot-qu-acheter-video-243780.php"
          ><img alt="logo télégramme" src="assets/img/telegramme.jpg" /> Objethèque
          : un nouveau concept à Quimper pour louer plutôt qu’acheter [VIDÉO]
        </a>
      </div>
      <div id="panel-2" aria-labelledby="tab-2" data-tag="TV">
        <a
          href="https://www.ouest-france.fr/bretagne/quimper-29000/video-il-explique-son-projet-d-objetheque-pour-emprunter-des-objets-a-quimper-plutot-que-de-les-acheter-f34e7ac8-efb8-3bdd-b1dd-2da9847c3fd2"
          ><img src="assets/img/ouest-france.png" />VIDÉO. Il explique son
          projet d'"objethèque", pour emprunter des objets à Quimper plutôt que
          de les acheter
        </a>
      </div>
      <div id="panel-3" aria-labelledby="tab-3" data-tag="web">
        <a href="https://www.symettre.bzh/4-questions/objetheque-cornouaille/"
          ><img src="assets/img/symettre.png" /> Benjamin Sahun à l’initiative de
          l’Objethèque de Cornouaille en 4 questions </a
        >
      </div>
      <div id="panel-4" aria-labelledby="tab-4" data-tag="TV">
        <a href=""
          ><img src="assets/webp/partenaires/privé/29D.webp" /> Article4</a
        >
      </div>
      <div id="panel-5" aria-labelledby="tab-5" data-tag="web">
        <a href=""
          ><img src="assets/webp/France_2.webp" /> Article5 - la capitale de fsodjsodj
          a dlskdsld en mai</a
        >
      </div>
    </section>
    <h2 class="ancre" id="H205">
      Documents utiles
      <p class="sousTexteH2">Teulioù talvoudus</p>
    </h2>
    <DocsUtiles />
  </main>

  <script>
    /*script tab*/
    const tabsContainer = document.querySelector(".tabs-container");
    const tabsList = tabsContainer?.querySelector("ul");
    const tabButtons = tabsList?.querySelectorAll("li a");
    const tabPanels = document.querySelectorAll(".tabs__panels > div");

    // Show the panel with the "tout" tag
    const defaultPanel = document.querySelector('[data-tag="tout"]');
    if (defaultPanel) {
      defaultPanel.removeAttribute("hidden");
    }

    // Highlight the "Tout" tab
    const defaultTab = document.querySelector('[data-tag="tout"]');
    if (defaultTab) {
      defaultTab.classList.add("active");
    }

    tabsContainer?.addEventListener("click", (e) => {
      const clickedTab = (e.target as HTMLElement).closest("a");
      if (!clickedTab) return;
      e.preventDefault();

      // Remove the "active" class from all tabs
      tabButtons?.forEach((tab) => {
        tab.classList.remove("active");
      });

      // Add the "active" class to the clicked tab
      clickedTab.classList.add("active");
      switchTab(clickedTab);
    });

    function switchTab(newTab: HTMLElement) {
      const activeTag = newTab.getAttribute("data-tag");

      tabPanels.forEach((panel) => {
        const panelTag = panel.getAttribute("data-tag");
        if (panelTag === activeTag || activeTag === "tout") {
          panel.removeAttribute("hidden");
        } else {
          panel.setAttribute("hidden", "");
        }
      });
    }
  </script>
</Layout>
<style>
  .nosValeurs {
    display: flex;
    flex-direction: column;
    gap: calc(var(--marginBlock) / 2);
    margin-top: calc(var(--marginBlock) / 2);
    margin-bottom: var(--marginBlock);
  }
  .nosValeurs p {
    max-width: 65ch;
  }
</style>
