---
import Layout from "../layouts/layout.astro";
import InfiniteScroller from "../components/infinite-scroller.astro";
---

<Layout title="À propos">
  <main>
    <h2 class="h2PaddingTopSmall">
      <span class="ancre" id="H200">Nos valeurs</span>
      <p class="sousTexteH2">An deiziadoù da zont !</p>
    </h2>
    <section class="nosValeurs">
      <h3>
        Durabilité
        <p>
          Les objets de la bibliothèque Cornouaille sont conservés dans un
          endroit sûr et sécurisé. doklsndlslfblkqf ksndlksndnks ksjdlkjsd
          nlknsdd skldnlksnlds lkndlksnd nlslndlksn jlsdls lnslkdkn lksndlkns
          nlksnlknd nlnlkn lknsdlknslknd klnlknlknsd.
        </p>
      </h3>
      <h3>
        Ecologie
        <p>
          Les objets de la bibliothèque Cornouaille sont conservés dans un
          endroit sûr et sécurisé. doklsndlslfblkqf ksndlksndnks ksjdlkjsd
          nlknsdd skldnlksnlds lkndlksnd nlslndlksn jlsdls lnslkdkn lksndlkns
          nlksnlknd nlnlkn lknsdlknslknd klnlknlknsd.
        </p>
      </h3>
      <h3>
        Social
        <p>
          Les objets de la bibliothèque Cornouaille sont conservés dans un
          endroit sûr et sécurisé. doklsndlslfblkqf ksndlksndnks ksjdlkjsd
          nlknsdd skldnlksnlds lkndlksnd nlslndlksn jlsdls lnslkdkn lksndlkns
          nlksnlknd nlnlkn lknsdlknslknd klnlknlknsd.
        </p>
      </h3>
    </section>
    <section class="notreEquipe">
      <h2>
        <span class="ancre" id="H201">Notre équipe </span>
        <p class="sousTexteH2">Hor skipailh</p>
      </h2>
      <div class="media-scroller">
        <div class="media-element">
          <div style="border: none;">
            <img style="border: none;" src="assets/img/MonaLisa.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mano.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div style="border: none;">
            <img src="assets/img/mona.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mino.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mana.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mano.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mano.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
        <div class="media-element">
          <div>
            <img src="assets/img/mano.jpg" alt="" />
            <p class="infos">Mano lisa</p>
          </div>
          <p>Le fondateur</p>
          <p>-Compétence : réparations</p>
        </div>
      </div>
    </section>
    <h2 class="ancre" id="H202">
      Nos partenaires
      <p class="sousTexteH2">Hor c'hevelerien</p>
    </h2>
    <InfiniteScroller />
    <h2 class="ancre" id="H203">
      Les médias en parlent
      <p class="sousTexteH2">Ar mediaoù a ra anv eus se</p>
    </h2>
    <section class="tabs-container">
      <ul aria-labelledby="H203">
        <li><a id="tab-1" href="#tout" data-tag="tout">Tout</a></li>
        <li><a id="tab-2" href="#presse" data-tag="presse">Presse</a></li>
        <li><a id="tab-3" href="#radio" data-tag="radio">Radio</a></li>
        <li><a id="tab-4" href="#TV" data-tag="TV">TV</a></li>
        <li><a id="tab-5" href="#web" data-tag="web">Web</a></li>
      </ul>
    </section>
    <section class="tabs__panels flow">
      <div id="panel-1" aria-labelledby="tab-1" data-tag="presse">
        <a href=""
          ><img src="assets/webp/France_2.webp" /> Article1 - vote crucial pour le
          vert vert</a
        >
      </div>
      <div id="panel-2" aria-labelledby="tab-2" data-tag="presse">
        <a href=""
          ><img src="assets/webp/partenaires/privé/29D.webp" /> Article2 - bah dit
          donc ?</a
        >
      </div>
      <div id="panel-3" aria-labelledby="tab-3" data-tag="radio">
        <a href=""
          ><img src="assets/webp/partenaires/privé/29D.webp" /> Article3</a
        >
      </div>
      <div id="panel-4" aria-labelledby="tab-4" data-tag="TV">
        <a href=""
          ><img src="assets/webp/partenaires/privé/29D.webp" /> Article4</a
        >
      </div>
      <div id="panel-5" aria-labelledby="tab-5" data-tag="web">
        <a href=""
          ><img src="assets/webp/France_2.webp" /> Article5 - la capitale de fsodjsodj
          a dlskdsld en mai</a
        >
      </div>
    </section>
    <h2 class="ancre" id="H205">
      Documents utiles
      <p class="sousTexteH2">Teulioù talvoudus</p>
    </h2>
    <section id="documentsUtiles">
      <div class="cadreDocsUtiles">
        <div id="DocsUtiles">
          <div>
            <h3 class="docUtile">
              Le règlement
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum obcaecati ducimus.
              </p>
            </h3>
            <a class="telecharger" href="#"
              ><p>
                télécharger&nbsp;<img
                  style="height: 40px;"
                  src="assets/img/pdf-logo.png"
                />
              </p></a
            >
          </div>
          <div>
            <h3 class="docUtile">
              Statuts
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum obcaecati ducimus.
              </p>
            </h3>
            <a class="telecharger" href="#"
              ><p>
                télécharger&nbsp;<img
                  style="height: 40px;"
                  src="assets/img/pdf-logo.png"
                />
              </p></a
            >
          </div>
          <div>
            <h3 class="docUtile">
              Rapport
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Nostrum obcaecati ducimus.
              </p>
            </h3>
            <a class="telecharger" href="#"
              ><p>
                télécharger&nbsp;<img
                  style="height: 40px;"
                  src="assets/img/pdf-logo.png"
                />
              </p></a
            >
          </div>
        </div>
      </div>
    </section>
  </main>

  <script>
    /*script tab*/
    const tabsContainer = document.querySelector(".tabs-container");
    const tabsList = tabsContainer?.querySelector("ul");
    const tabButtons = tabsList?.querySelectorAll("li a");
    const tabPanels = document.querySelectorAll(".tabs__panels > div");

    // Show the panel with the "tout" tag
    const defaultPanel = document.querySelector('[data-tag="tout"]');
    if (defaultPanel) {
      defaultPanel.removeAttribute("hidden");
    }

    // Highlight the "Tout" tab
    const defaultTab = document.querySelector('[data-tag="tout"]');
    if (defaultTab) {
      defaultTab.classList.add("active");
    }

    tabsContainer?.addEventListener("click", (e) => {
      const clickedTab = (e.target as HTMLElement).closest("a");
      if (!clickedTab) return;
      e.preventDefault();

      // Remove the "active" class from all tabs
      tabButtons?.forEach((tab) => {
        tab.classList.remove("active");
      });

      // Add the "active" class to the clicked tab
      clickedTab.classList.add("active");
      switchTab(clickedTab);
    });

    function switchTab(newTab: HTMLElement) {
      const activeTag = newTab.getAttribute("data-tag");

      tabPanels.forEach((panel) => {
        const panelTag = panel.getAttribute("data-tag");
        if (panelTag === activeTag || activeTag === "tout") {
          panel.removeAttribute("hidden");
        } else {
          panel.setAttribute("hidden", "");
        }
      });
    }
  </script>
</Layout>
