---
import Layout from "../layouts/layout.astro";
---

<Layout title="Comment ça marche ?">
  <main>
    <div class="headerFix"></div>
    <h2 class="h2HautDePage">Comment ça marche ?</h2>
    <section class="imgsCommentCaMarche">
      <div>
        <img class="imgCommentCaMarche" src="assets/img/illuPresa2.png" />
        <p>Catalogue</p>
      </div>
      <div>
        <img class="imgCommentCaMarche" src="assets/img/illuPresa2.png" />
        <p>Se connecter</p>
      </div>
      <div>
        <img class="imgCommentCaMarche" src="assets/img/illuPresa2.png" />
        <p>Récupérez l'objet</p>
      </div>
      <div>
        <img class="imgCommentCaMarche" src="assets/img/illuPresa2.png" />
        <p>Utiliser l'objet</p>
      </div>
      <div>
        <img class="imgCommentCaMarche" src="assets/img/illuPresa2.png" />
        <p>Le ramener</p>
      </div>
    </section>
    <h2>Acceuil et matériel</h2>
    <section class="missionsBenev">
      <details class="missionBenev">
        <summary>Acceuil</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
          minima? Minima, ipsa saepe voluptatibus officia dolorum blanditiis
          repellat dolorem beatae itaque! Vel ipsum nemo repellendus
          necessitatibus quod commodi assumenda. Totam?
        </p>
      </details>
      <details class="missionBenev">
        <summary>Réparation</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
          minima? Minima, ipsa saepe voluptatibus officia dolorum blanditiis
          repellat dolorem beatae itaque! Vel ipsum nemo repellendus
          necessitatibus quod commodi assumenda. Totam?
        </p>
        <ul>
          <li class="listePoint">1 semaine renouvelable une fois</li>
        </ul>
      </details>
      <details class="missionBenev">
        <summary>Comptabilité</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
          minima? Minima, ipsa saepe voluptatibus officia dolorum blanditiis
          repellat dolorem beatae itaque! Vel ipsum nemo repellendus
          necessitatibus quod commodi assumenda. Totam?
        </p>
      </details>
      <details class="missionBenev">
        <summary>Communication</summary>
        <div style="display: flex;">
          <img style="max-height: 300px;" src="assets/img/illuPresa2.png" />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
            minima? Minima, ipsa saepe voluptatibus officia dolorum blanditiis
            repellat dolorem beatae itaque! Vel ipsum nemo repellendus
            necessitatibus quod commodi assumenda. Totam?
          </p>
        </div>
      </details>
    </section>
  </main>
</Layout>
