---
import Layout from "../layouts/layout.astro";
---

<Layout title="Comment ça marche ?">
  <main>
    <h2 class="h2PaddingTopSmall">Comment ça marche ?</h2>
    <img
      class="imgCentre"
      src="assets/webp/recapemprunt.webp"
      alt="récapitulatif de la procédure d'emprunt"
    />
  </main>
</Layout>
