---
import Layout from "../layouts/layout.astro";
---

<Layout title="Comment ça marche ?">
  <main style="margin-top: 0.5em;">
    <img
      class="imgCentre"
      src="assets/img/imgcommentcamarche.png"
      alt="récapitulatif de la procédure d'emprunt"
    />
  </main>
</Layout>
