---
import Layout from "../layouts/layout.astro";
---

<Layout title="Comment ça marche ?">
  <main>
    <h2 class="h2PaddingTopSmall">
      <span>Devenir bénévole</span>
      <p class="sousTexteH2">Les types de mission</p>
    </h2>
    <section style="margin-block: calc(var(--marginBlock)/2);">
      <details class="missionBenev">
        <summary>Accueil & Matériel</summary>
        <img
          alt="schéma de description des missions du bénévole"
          src="assets/webp/mission-benev/mission-accueil-materiel.webp"
        />
      </details>
      <details class="missionBenev">
        <summary>Communication & événement</summary>
        <img
          alt="schéma de description des missions du bénévole"
          src="assets/webp/mission-benev/mission-communication-event.webp"
        />
      </details>
      <details class="missionBenev">
        <summary>Comptabilité & Administration</summary>
        <img
          alt="schéma de description des missions du bénévole"
          src="assets/webp/mission-benev/mission-compta-administration.webp"
        />
      </details>
    </section>
    <section style="margin-left: 8%; margin-block: var(--marginBlock);">
      <p>
        <a class="soulignementOrange" href="fiches-benevole.pdf">
          télécharger ici les fiches missions bénévole&nbsp;
          <img
            style="height: 40px;"
            src="assets/img/pdf-logo.png"
            alt="logo pdf"
          />
        </a>
      </p>
    </section>
    <section style="display: none;">
      <h2>
        <span class="ancre" id="H200">Rejoignez-nous !</span>
      </h2>
      <form action="/submit_form" method="post">
        <div
          style="display: flex; gap: 4px; padding-block: 10px; flex-wrap: wrap;"
        >
          <label for="lname">Nom</label><br />
          <input type="text" id="lname" name="lname" /><br />
          <label for="email">Email</label><br />
          <input type="email" id="email" name="email" /><br />
        </div>
        <p>Avez-vous déjà un abonement à l'objetheque ?</p>
        <input type="radio" id="yes" name="service_used" value="yes" />
        <label for="yes">Oui</label><br />
        <input type="radio" id="no" name="service_used" value="no" />
        <label for="no">Non</label><br />
        <label for="message">Message :</label><br />
        <textarea id="message" name="message"></textarea><br />
        <input type="submit" value="Envoyer" />
      </form>
    </section>
  </main>
</Layout>
