---
import Layout from "../layouts/layout.astro";
import Carousel from "../components/carousel.astro"
---

<Layout title="Comment ça marche ?">
  <main>
    <h2 class="h2PaddingTopSmall">Je donne je prête</h2>
    <section class="donObjet">
      <p><strong>Redonnez une seconde vie à vos objets!</strong></p>
      <br />
      <p>
        Nous sommes ravis de recevoir vos dons d'objets et de les intégrer à
        notre catalogue. Grâce à votre générosité, notre collection est devenue
        riche et variée. Merci de votre contribution!
      </p>
      <br />
      <br />
      <p>
        <strong>Avant de nous apporter votre objet, une petite étape :</strong>
      </p>
      <br />
      <p>
        Nous avons constaté que certains objets sont plus demandés que d'autres
        et que certains nécessitent une maintenance importante pour être prêtés
        en toute sécurité.<br />Pour cela, nous vous demandons idéalement de
        nous envoyer des photos de votre objet avant de nous le remettre en main
        propre.<br />Vous pouvez aussi nous appeler en décrivant votre don et en
        nous laissant vos coordonnées: 07 49 11 27 34<br /><strong
          >Merci de votre contribution à notre bibliothèque d'objets!</strong
        >
      </p>
      <br />
      <p class="textePlusClair">
        La plupart des objets disponibles à l'objethèque proviennent de dons!
      </p>
      <br/>
      <p>
        <strong
          >NB: Vous pouvez aussi mettre à disposition votre matériel qui sera
          ajouté à notre catalogue et que vous pourrez récupérer quand vous le
          voulez (prévoir maximum 2 semaines à l'avance)</strong>
      </p>
    </section>
    <Carousel />
  </main>
  <style>
    .donObjet {
      margin-inline: 8%;
      margin-bottom: var(--marginBlock);
      margin-top: calc(var(--marginBlock) / 2);
    }
  </style>
</Layout>
