---
import Layout from "../layouts/layout.astro";
---

<Layout title="Ils l'ont fait !">
  <main>
    <h2 class="h2PaddingTopBig">Faire un don</h2>
    <section id="faireUnDon">
      <p>
        Pour faire fonctionner le système de prêt d’objet nous comptons sur vos
        dons !
        <br /><br />
        Nous les recevons avec grand plaisir par versement sur <a
          class="soulignementOrange"
          target="_blank"
          href="https://www.helloasso.com/associations/l-objetheque-de-cornouaille/formulaires/1"
          ><strong>Hello Asso</strong>&nbsp;
          <img
            style="height: 40px;"
            src="assets/svg/logo-helloasso.svg"
            alt="logo helloasso"
          /></a
        >
        ou par <a class="soulignementOrange" href="iban-bic.pdf">
          <strong>virement bancaire</strong>&nbsp;
          <img
            style="height: 40px;"
            src="assets/img/pdf-logo.png"
            alt="logo pdf"
          />
        </a>
        <br /><br />
        Bientôt nous aurons une permanence à Quimper à la Ressourcerie Treuzkemm
        pour vous informer, recueillir vos dons etc…
        <br /><br />
        Suivez-nous sur les réseaux pour plus d’informations!
      </p>
    </section>
  </main>
</Layout>
<style>
  #faireUnDon { 
    margin-inline: clamp(5%, 2rem, 60%); 
    padding-left: 1rem;
    color: var(--dark-text-color); 
    margin-top: calc(var(--marginBlock) / 2);
    margin-bottom: var(--marginBlock); 
  } 
</style>
 