---
import Layout from "../layouts/layout.astro";
---

<Layout title="Comment ça marche ?">
  <main>
    <div class="headerFix"></div>
    <h2 class="h2PaddingTopSmall">FAQ</h2>
    <section class="missionsBenev">
      <details class="missionBenev">
        <summary>Question</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
          minima? Minima, ipsa saepe voluptatibus officia dolorum blanditiis
          repellat dolorem beatae itaque! Vel ipsum nemo repellendus
          necessitatibus quod commodi assumenda. Totam?
        </p>
      </details>
      <details class="missionBenev">
        <summary>Question</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
          minima? Minima, ipsa saepe voluptatibus officia dolorum blanditiis
          repellat dolorem beatae itaque! Vel ipsum nemo repellendus
          necessitatibus quod commodi assumenda. Totam?
        </p>
      </details>
      <details class="missionBenev">
        <summary>Question</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
          minima? Minima, ipsa saepe voluptatibus officia dolorum blanditiis
          repellat dolorem beatae itaque! Vel ipsum nemo repellendus
          necessitatibus quod commodi assumenda. Totam?
        </p>
      </details>
      <details class="missionBenev">
        <summary>Question</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
          minima? Minima, ipsa saepe voluptatibus officia dolorum blanditiis
          repellat dolorem beatae itaque! Vel ipsum nemo repellendus
          necessitatibus quod commodi assumenda. Totam?
        </p>
      </details>
    </section>
  </main>
</Layout>
