---
import Layout from "../layouts/layout.astro";
---

<Layout title="Ils l'ont fait !">
  <main>
    <h2 class="h2PaddingTopBig">Les réalisations de nos adhérents</h2>
    <section id="montrez">
      <p class="textePlusClair">
        <strong
          >Envoyez-nous ce que vous avez pu réaliser grâce aux emprunts de
          l'Objetheque !</strong
        >
      </p>
      <ul>
        <li>
          <a
            class="soulignementOrange"
            href="https://www.instagram.com/objetheque_cornouaille/"
            target="_blank">Instagram</a
          >
        </li>
        <li>06 25 36 14 25</li>
        <li>
          <a
            class="soulignementOrange"
            href="mailto:objethequecornouaille@gmail.com"
            onclick="window.open(this.href); return false;"
            target="_blank">objetheque@gmail.com</a
          >
        </li>
        <li>
          <a
            class="soulignementOrange"
            href="https://www.facebook.com/ObjethequeCornouaille/"
            target="_blank">Facebook</a
          >
        </li>
      </ul>
    </section>
  </main>
</Layout>
<style type="text/css">
  #montrez {
    margin-inline: clamp(5%, 2rem, 60%);
    padding-left: 1rem;
    color: var(--dark-text-color);
    margin-block: 30px;
  }
  #montrez ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: clamp(1rem, 20%, 5rem);
    margin-block: 30px;
    padding-left: 3rem;
  }
  #montrez ul li {
    list-style: disc;
    margin-block: 5px;
  }
</style>
