---
import Layout from "../layouts/layout.astro";
import { databases } from "../lib/appwrite";
import Counter from "../components/counter.astro";
import Catalogue from "../components/myturncatalog.astro";
import Videomp4 from "../components/videomp4.astro";
---

<Layout title="Objetheque de Cornouaille">
  <main>
    <section class="presentation">
      <h1>
        <div class="cadreBlancArrondi">
          <p class="presaTitre">
            Emprunte <span>sans limite</span>...
          </p>
          <p class="presaTitre">
            Et <span>limite</span> ton empreinte !
          </p>
        </div>
        <p class="presaSousTitre">Prêt d'objets, Réparation, Création.</p>
      </h1>
      <img
        alt="dessin d'une planète entourée d'objets et de personnes pour les réparer/entretenir"
        src="assets/img/illuPresa.png"
      />
    </section>
    <h2>
      <span>Les prochaines dates !</span>
      <p class="sousTexteH2">An deiziadoù da zont !</p>
    </h2>
    <section class="derniersEvenementsGridAll">
      <div class="derniersEvenementsGrid1">
        <div class="dateEventFlex">
          <p class="jourLEvent">Samedi</p>
          <p class="jourNEvent">26</p>
          <p class="moiEvent">Octobre</p>
        </div>
        <div class="traitEvent">
          <div class="flexible-line"></div>
        </div>
        <div class="titreEvent">
          <p>
            Atelier echo de soi - (53 impasse de l'odet à Quimper) - <span>10h30-12h30</span> - <span>sur réservation, prix libre</span>
          </p>
        </div>
        <a class="plusInfos" href="agenda.html"
          ><span class="plusplus">+</span> d'infos</a
        >
      </div>
      <div class="derniersEvenementsGrid1">
        <div class="dateEventFlex">
          <p class="jourLEvent">Samedi</p>
          <p class="jourNEvent">26</p>
          <p class="moiEvent">Octobre</p>
        </div>
        <div class="traitEvent">
          <div class="flexible-line"></div>
        </div>
        <div class="titreEvent">
          <p>
            Atelier co-réparation - (L'Embarcadère 4 rue Jacques) - <span>14h-17h</span> - <span>prix libre</span>
          </p>
        </div>
        <a class="plusInfos" href="agenda.html"
          ><span class="plusplus">+</span> d'infos</a
        >
      </div>
    </section>
    <iframe style="border-radius: 20px;" class="imgCentre" width="600" height="338" src="https://www.youtube.com/embed/s75UXM0THHA?si=azCSQnKKs7pt0RcS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <section class="photoTexte wrapReverse">
      <img
        alt="photo en forme de bulle de l'intérieur du local de l'objetheque"
        src="assets/img/BullePanneau.png"
      />
      <div>
        <p>
          Vous en avez assez d'acheter des objets que vous n'utilisez qu'une
          fois par an et qui prennent la poussière le reste du temps ?
          L'Objethèque de Cornouaille est la solution idéale pour vous !
        </p>
        <br />
        <p>
          Avec L'Objethèque de Cornouaille, vous pouvez emprunter une variété
          d'objets pour réaliser tous vos projets, sans dépenser une fortune.
          Notre catalogue en ligne propose une gamme d'objets que vous pouvez
          consulter et réserver facilement.
        </p>
        <br />
        <p class="textePlusClair">
          Et le meilleur dans tout ça ? Notre catalogue ne cesse de s'agrandir !
          Chaque mois, de nouveaux objets sont ajoutés, vous offrant encore plus
          d'options pour explorer vos passions et réaliser vos projets.
        </p>
        <br />
        <p>
          Rejoignez le mouvement aujourd'hui et dites adieu aux objets inutiles
          qui encombrent votre espace. Avec L'Objethèque de Cornouaille, vous
          pouvez vivre une vie plus simple, plus économique et plus durable.
        </p>
      </div>
    </section>
    <Counter />
    <section class="photoTexte">
      <div>
        <p>
          Vous avez des objets cassés qui traînent dans votre garage ou votre
          grenier ? Ne les jetez pas ! L'Objethèque de Cornouaille est là pour
          vous aider à leur donner une seconde vie.
        </p>
        <br />
        <p class="textePlusClair">
          Nous organisons régulièrement des ateliers pratiques de réparation et
          de fabrication zéro déchet. Ensemble, nous pouvons réparer vos
          vêtements et petits appareils ménagers comme des grille-pain,
          perceuses ou cafetière. Vous apprendrez également à fabriquer vos
          propres produits écologiques tels que des lingettes et des sacs à
          vrac.
        </p>
        <br />
        <p>
          Rejoignez-nous lors de nos prochains ateliers et découvrez comment
          vous pouvez contribuer à un mode de vie plus durable. Suivez notre
          actualité et n'hésitez pas à nous contacter pour plus d'informations !
          Ensemble, nous pouvons faire la différence.
        </p>
      </div>
      <img
        alt="photo en forme de bulle de Benjamin qui pose avec des objets de l'objetheque"
        src="assets/img/BulleBenjamin.png"
      />
    </section>
    <Catalogue />
    <h2>
      Retrouvez-nous <img
        alt="icône de localisation orange"
        class="iconeGPSOrange"
        src="assets/img/icon gps orange.png"
      />
      <p class="sousTexteH2">Adkavit ac'hanomp</p>
    </h2>
    <iframe
      id="gmap"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2669.9605333736367!2d-4.098335623736241!3d47.99514986106617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4810d54f58357ed9%3A0xdc85bd7f8d41d824!2sL'Embarcad%C3%A8re!5e0!3m2!1sfr!2sfr!4v1712765514421!5m2!1sfr!2sfr"
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="eager"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </main>
</Layout>
