---
import Layout from "../layouts/layout.astro";
---

<Layout title="Ils l'ont fait !">
  <main>
    <h2 class="h2PaddingTopSmall">Nos ateliers</h2>
    <img
      class="imgCentre"
      src="assets/img/repa1.png"
      alt="atelier réparation"
    />
    <img
      class="imgCentre"
      src="assets/img/repa3.png"
      alt="atelier réparation"
    />
    <img
      class="imgCentre"
      src="assets/img/repa2.png"
      alt="atelier réparation"
    />
    <img
      class="imgCentre"
      src="assets/img/repalast.png"
      alt="atelier réparation"
    />
    <img
      class="imgCentre"
      src="assets/img/couture1.png"
      alt="atelier couture"
    />
    <img
      class="imgCentre"
      src="assets/img/couture2.png"
      alt="atelier couture"
    />
    <img
      class="imgCentre"
      src="assets/img/couture3.png"
      alt="atelier couture"
    />
    <img class="imgCentre" src="assets/img/manga1.png" alt="atelier manga" />
    <img class="imgCentre" src="assets/img/manga2.png" alt="atelier manga" />
    <img
      class="imgCentre"
      src="assets/img/oiseau1.png"
      alt="atelier nichoir à oiseaux"
    />
    <img
      class="imgCentre"
      src="assets/img/oiseau2.png"
      alt="atelier nichoir à oiseaux"
    />
  </main>
</Layout>
