---
import Layout from "../layouts/layout.astro";
import AG from "../components/answergarden.astro";
import Catalogue from "../components/myturncatalog.astro";
---

<Layout title="Objets">
  <main>
    <h2 class="h2PaddingTopSmall">Notre recherche d'objets</h2>
    <section id="lesObjets">
      <p>
        Nos objets sont issus principalement de <strong>dons</strong> ou de
        <strong>récuparation</strong> !
        <br />Si vous avez des objets que vous n'utilisez plus, n'hésitez pas à
        nous les amener, ils profiteront d'une <strong>seconde vie ! </strong>
        <br />
        <br /><strong>Contactez-nous :</strong>
        <a
          class="soulignementOrange"
          href="mailto:objethequecornouaille@gmail.com"
          onclick="window.open(this.href); return false;"
          target="_blank">objethequecornouaille@gmail.com</a
        > ou
        <span style="white-space: nowrap;">07 49 11 27 34</span> (laissez-nous un
        message)
      </p>
      <br /><br />
    </section>
    <Catalogue />
    <section id="nuageMots">
      <AG />
    </section>
  </main>
  <style type="text/css">
    #lesObjets {
      margin-inline: clamp(5%, 2rem, 60%);
      padding-left: 1rem;
      color: var(--dark-text-color);
      margin-block: 30px;
    }
    #nuageMots {
      margin-inline: clamp(5%, 2rem, 60%);
      margin-block: 50px;
    }
  </style>
</Layout>
