<section id="agendaImage">
  <img
    class="imgCentre"
    src="assets/img/septembre2024.png"
    alt="programme septembre 2024"
  />
</section>
<style>
  #agendaImage {
    overflow-x: auto;
    margin-bottom: 5em;
  }
  #agendaImage img {
    min-width: 1000px;
  }
</style>
