---
let tags: string[] = [];

const response = await fetch("https://answergarden.ch/api/gettags/3133340");
const data = await response.text();
tags = data.split(",");
---

<p class="AGMobile">
  <strong
    ><a id="lienAG" class="soulignementOrange" href="https://answergarden.ch/3133340"
      >Quel(s) objet(s) aimerais-je emprunter à L’Objethèque?</a
    ></strong
  >
</p>
<iframe
  id="AG"
  loading="lazy"
  src="https://answergarden.ch/embed/3133340"
  width="100%"
  height="500px"
  style="border: none;"
  title="AnswerGarden"
  allowtransparency="true"
>
</iframe>
<style>
  #AG {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    border-radius: 20px;
  }
  .AGMobile {
    display: none;
  }
  #lienAG {
    color: var(--dark-text-color);
  }
  @media screen and (max-width: 816px) {
    #AG {
      display: none;
    }
    .AGMobile {
      display: block;
    }
    #listeObjetsAG {
      display: flex;
    }
  }
</style>
