<section id="cadreRaccourcisCatalogue">
  <h2>
    Catégories d'objets :
    <p class="sousTexteH2">Rummadoù traezoù :</p>
  </h2>
  <nav class="raccourcisCatalogue" role="navigation">
    <ul>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/trousse-de-reparation"
          title="trousse de réparation icônes"
          >Trousse de réparation icônes créées par Freepik - Flaticon</a
        >
        <img
          class="star iconeCategorie"
          src="../Assets/img/boite-a-outils.png"
        />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FBricolage%2FOutillage%7C13484"
          >Bricolage / Outillage</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/smart-tv"
          title="smart tv icônes"
          >Smart tv icônes créées par Freepik - Flaticon</a
        >
        <img class="star iconeCategorie" src="../Assets/img/smart-tv.png" />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FMultim%C3%A9dia%7C13492"
          >Multimedia</a
        >
      </li>
      <li>
        <a style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/agriculture-et-jardinage"
          title="agriculture et jardinage icônes"
          >Agriculture et jardinage icônes créées par IconMarketPK - Flaticon</a
        >
        <img class="star iconeCategorie" src="../Assets/img/jardinage.png" />
        <a
          class="moon"
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FJardinage%7C13489"
          >Jardinage</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/fouet"
          title="fouet icônes">Fouet icônes créées par Freepik - Flaticon</a
        >
        <img class="star iconeCategorie" src="../Assets/img/fouet.png" />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?type_hierarchy=0%2FKitchen+%26+Dining%7C180"
          >Cuisine</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/bicyclette"
          title="bicyclette icônes"
          >Bicyclette icônes créées par Flat Icons - Flaticon</a
        >
        <img
          class="star iconeCategorie"
          src="../Assets/img/velo-de-montagne.png"
        />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FMobilit%C3%A9%7C13491"
          >Mobilité</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/produits-de-nettoyage"
          title="produits de nettoyage icônes"
          >Produits de nettoyage icônes créées par smalllikeart - Flaticon</a
        >
        <img
          class="star iconeCategorie"
          src="../Assets/img/produits-de-nettoyage.png"
        />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FEntretien+%26+Nettoyage%7C13488"
          >Nettoyage</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/jouet"
          title="jouet icônes">Jouet icônes créées par Freepik - Flaticon</a
        >
        <img class="star iconeCategorie" src="../Assets/img/balle.png" />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FLoisirs+%26+Jeux%7C13490"
          >Loisirs et Jeux</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/ballons"
          title="ballons icônes"
          >Ballons icônes créées par vectorsmarket15 - Flaticon</a
        >
        <img class="star iconeCategorie" src="../Assets/img/ballons.png" />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FF%C3%AAte%7C13798"
          >Evénement / Fête</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/domicile"
          title="domicile icônes"
          >Domicile icônes créées par Vectors Market - Flaticon</a
        >
        <img class="star iconeCategorie" src="../Assets/img/maison.png" />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FMaison%7C14602"
          >Maison</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/foret"
          title="forêt icônes">Forêt icônes créées par monkik - Flaticon</a
        >
        <img
          class="star iconeCategorie"
          src="../Assets/img/tente-de-camping.png"
        />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=1%2FSports+%26+Plein+air%7C13487%2FCamping%7C13507"
          >Camping</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/reparation"
          title="réparation icônes"
          >Réparation icônes créées par Smashicons - Flaticon</a
        >
        <img class="star iconeCategorie" src="../Assets/img/tour-pc.png" />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FElectronique%7C13706"
          >Électronique</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/sante"
          title="santé icônes">Santé icônes créées par Freepik - Flaticon</a
        >
        <img
          class="star iconeCategorie"
          src="../Assets/img/soins-de-sante.png"
        />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?type_hierarchy=0%2FMedical+Equipment%7C518"
          >Santé</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/outils-de-couture"
          title="outils de couture icônes"
          >Outils de couture icônes créées par Freepik - Flaticon</a
        >
        <img
          class="star iconeCategorie"
          src="public/Assets/img/outils-de-couture.png"
        />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FArts+cr%C3%A9atifs%7C13477"
          >Arts créatifs</a
        >
      </li>
      <li>
        <a
          style="display: none;"
          href="https://www.flaticon.com/fr/icones-gratuites/activite-physique"
          title="activité physique icônes"
          >Activité physique icônes créées par Amethyst prime - Flaticon</a
        >
        <img class="star iconeCategorie" src="public/Assets/img/physique.png" />
        <a
          href="https://objethequecornouaille.myturn.com/library/inventory/browse?category_hierarchy=0%2FSports+%26+Plein+air%7C13487"
          >Sport et Plein air</a
        >
      </li>
    </ul>
  </nav>
</section>
