<div class="compteurs moon">
  <div>
    <div class="counter"></div>
    <p class="valeurCounter">Objets stockés</p>
  </div>
  <div>
    <img
      class="etoilesCompteur star"
      src="assets/svg/etoiles.svg"
      alt="étoiles près du compteur"
    />
    <div class="counter1"></div>
    <p class="valeurCounter">Emprunts terminés</p>
  </div>
  <div>
    <div class="counter2"></div>
    <p class="valeurCounter">Adhérents cumulés</p>
  </div>
  <style>
    .compteurs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block: 60px;
      padding-inline: 10%;
      font-size: max(8vw, 42px);
      font-weight: 600;
      text-align: center;
      color: var(--dark-text-color);
    }
    .valeurCounter {
      font-size: 0.24em;
      color: var(--secondary-color);
    }
    .etoilesCompteur {
      transform: translateY(-0.28em) translateX(1em);
      height: max(0.8em, 3vw);
      float: right;
    }
    @media screen and (max-width: 400px) {
      .compteurs {
        padding-inline: 7%;
      }
    }
  </style>
  <script>
    const counterElement = document.querySelector(".counter") as HTMLElement;
    let counter = 0;

    function updateCounter() {
      counterElement.textContent = counter.toString();
      counter++;

      if (counter <= 506) {
        setTimeout(updateCounter, 1);
      }
    }

    updateCounter();

    const counterElement1 = document.querySelector(".counter1") as HTMLElement;
    let counter1 = 0;

    function updateCounter1() {
      counterElement1.textContent = counter1.toString();
      counter1++;

      if (counter1 <= 1637) {
        setTimeout(updateCounter1, 1);
      }
    }

    updateCounter1();

    const counterElement2 = document.querySelector(".counter2") as HTMLElement;
    let counter2 = 0;

    function updateCounter2() {
      counterElement2.textContent = counter2.toString();
      counter2++;

      if (counter2 <= 437) {
        setTimeout(updateCounter2, 1);
      }
    }

    updateCounter2();
  </script>
</div>
