<section id="inscriptionMyTurn" aria-label="inscription myturn">
    <details class="detailsAdhesion">
        <summary>inscription via myturn.com</summary>
        <iframe
            src="https://objethequecornouaille.myturn.com/library/createUser/create?requestedFormat="
            width="100%"
            height="800px"
            >
        </iframe>
    </details>
</section>
<style>
    #inscriptionMyTurn {
        margin-bottom: 4vw;
    }
    .detailsAdhesion{
        background-color: white;
        margin-left: calc(var(--marginBlock)*2);
        padding-top: 20px;
        padding-bottom: 10px;
        padding-inline: 0.5%;
        width: 90%;
        max-width: 600px;
        border-radius: 20px 20px 0 0;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    }
    .detailsAdhesion summary {
        color: var(--secondary-color);
        font-size: 20px;
        font-weight: 900;
    }
    .detailsAdhesion iframe{
        margin-top: 1rem;
    }
  
    @media screen and (max-width: 816px) {
        .detailsAdhesion {
        margin-left: 2%;
    }
    }
</style>
