<section id="inscriptionMyTurn" aria-label="catalogue des objets">
  <iframe
    src="https://objethequecornouaille.myturn.com/library/createUser/create?requestedFormat="
    width="90%"
    height="800px"
    >
    </iframe>
  <script
    id="myturn-embed-script"
    src="https://objethequecornouaille.myturn.com/library/assets/ui/myturn-embed/myturn-embed.js"
  ></script>
</section>
<style>
  #inscriptionMyTurn {
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
  }
  #inscriptionMyTurn iframe {
    max-width: 600px;
  }
  @media screen and (max-width: 816px) {
    #inscriptionMyTurn {
      justify-content: flex-start;
      margin-left: 1%;
    }
  }
</style>
