---
import CatalogueFooter from "./catalogue-footer.astro";
---

<CatalogueFooter />
<footer id="footer" role="contentinfo">
  <div id="adresse">
    <p><b>Objethèque de Cornouaille :</b></p>
    <p>4 rue Jacques Cartier,</p>
    <p>29000 Quimper</p>
    <p>objethequecornouaille@gmail.com</p>
    <br />
    <p>
      <strong>Mardi</strong> : 17h30-20h
    </p>
    <p>
      <strong>Vendredi</strong> : 17h-19h
    </p>
    <p>
      <strong>Samedi</strong> : 10h-13h 15h-18h
    </p>
    <br />
  </div>
  <div class="iconesFooter">
    <div class="logoFooter">
      <img
        alt="logo de l'objetheque de Cornouaille"
        src="assets/img/logo.png"
      />
    </div>
    <div class="widgetFooter">
      <a
        href="https://www.facebook.com/ObjethequeCornouaille"
        target="_blank"
        ><img
          alt="icône/lien vers la page Facebook"
          class="widgetReseau"
          src="assets/svg/Facebook_iconW.svg"
        /></a
      >
      <a
        href="https://www.instagram.com/objetheque_cornouaille/"
        target="_blank"
        ><img
          alt="icône/lien vers la page Instagram"
          class="widgetReseau"
          src="assets/svg/instagram-social-mediaW.svg"
        /></a
      >
      <a
        href="https://fr.linkedin.com/company/l-objeth%C3%A8que-de-cornouaille"
        target="_blank"
        ><img
          alt="icône/lien vers la page Linkedin"
          class="widgetReseau"
          src="assets/svg/linkedinW.svg"
        /></a
      >
    </div>
    <a class="soulignementOrange" href="https://a1734d22.sibforms.com/serve/MUIFAGw9BLFvayj7D4_XZASrrproPe8bm89rcmByCgZk79ZJFF5ryAf7eO3tZp2e-WDHa3kow18xBnydXtbh4NglgJvNHCI7pciP0jtoQrQrZtzsv6qBULZxF8fa4EeN9CSVIrfeYGUvVO86zwDwrNiKMcAPqMiahDPQQP38oHh7mE3RVjG0Hh0WmjP3Dz8vvRvEHGHErIZ_9ws6">
      S'abonner à la newsletter
      <img
      alt="newsletter"
      id="news"
      src="assets/svg/mail4.svg"
    />
    </a>
    
    <br/>
  </div>
  <nav class="MenuFooter" role="navigation">
    <ul
      style="justify-content: space-around; display:flex; flex-direction: column; transform:translateY(-1em)"
    >
      <li><a class="soulignementOrange" href="faq.html">FAQ</a></li>
      <li>
        <a class="soulignementOrange" href="Catalogue.html">Mentions légales</a>
      </li>
      <li>
        <a class="soulignementOrange" href="Catalogue.html"
          >Conditions générales</a
        >
      </li>
      <li>
        <a class="soulignementOrange" href="Catalogue.html"
          >Politique de confidentialité</a
        >
      </li>
      <li><a class="soulignementOrange" href="Catalogue.html">Cookies</a></li>
    </ul>
  </nav>
</footer>
