<header>
  <div class="logo">
    <a href="index.html"
      ><img
        id="logo-site"
        alt="logo de l'objetheque de Cornouaille"
        src="assets/img/logo.png"
      /></a
    >
  </div>
  <!--DEBUT Menu pour le format écran ordinateur-->
  <nav class="navWeb">
    <ul id="menuWeb">
      <li>
        <a href="https://objethequebretagne.github.io/site/apropos.html">à propos</a>
        <ul class="submenu">
          <li><a href="https://objethequebretagne.github.io/site/apropos.html#H200">Nos valeurs</a></li>
          <li><a href="https://objethequebretagne.github.io/site/apropos.html#H201">Notre équipe</a></li>
          <li><a href="https://objethequebretagne.github.io/site/apropos.html#H202">Nos partenaires</a></li>
          <li><a href="https://objethequebretagne.github.io/site/apropos.html#H203">Les medias en parlent</a></li>
          <li><a href="https://objethequebretagne.github.io/site/apropos.html#H205">Documents utiles</a></li>
          <li>
            <a
              href="https://umap.openstreetmap.fr/fr/map/bibliotheques-dobjets-et-objetheques-france_832483"
              target="_blank">Réseau</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="CommentCaMarche.html">Emprunter</a>
        <ul class="submenu">
          <li><a href="CommentCaMarche.html">Comment ça marche ?</a></li>
          <li><a href="LesObjets.html">Les objets</a></li>
          <li><a href="FAQ.html">FAQ</a></li>
          <li><a href="IlsLOntFait.html">Ils l'ont fait !</a></li>
        </ul>
      </li>
      <li>
        <a href="NosAteliers.html">animations</a>
        <ul class="submenu">
          <li><a href="NosAteliers.html">Nos ateliers</a></li>
          <li><a href="Agenda.html">Agenda</a></li>
        </ul>
      </li>
      <li>
        <a href="FaireUnDon.html">Participer</a>
        <ul class="submenu">
          <li><a href="DevenirBenevole.html">Devenir bènèvole</a></li>
          <li><a href="FaireUnDon.html">Faire un Don</a></li>
          <li><a href="DonnerPreter.html">Donner/prêter</a></li>
          <li><a href="ChequesCadeaux.html">Chèques cadeaux</a></li>
        </ul>
      </li>
      <li><a href="#page3">Agenda</a></li>
    </ul>
  </nav>
  <!--FIN Menu pour le format écran ordinateur-->
  <nav class="navMobile" aria-label="menu déroulant">
    <input type="checkbox" id="hamburgerMenuToggle" />
    <label
      for="hamburgerMenuToggle"
      class="hamburgerMenuContainer"
      aria-label="Cliquez sur moi pour ouvrir le menu"
    >
      <div class="barreMenu"></div>
    </label>
    <nav id="navigationWrapper" class="wide">
      <ul id="menuMobile">
        <details id="detail1">
          <summary>À propos</summary>
          <ul class="submenuMobile">
            <li><a href="https://objethequebretagne.github.io/site/apropos.html#H200">Nos valeurs</a></li>
            <li><a href="https://objethequebretagne.github.io/site/apropos.html#H201">Notre équipe</a></li>
            <li><a href="https://objethequebretagne.github.io/site/apropos.html#H202">Nos partenaires</a></li>
            <li><a href="https://objethequebretagne.github.io/site/apropos.html#H203">Les medias en parlent</a></li>
            <li><a href="https://objethequebretagne.github.io/site/apropos.html#H205">Documents utiles</a></li>
            <li>
              <a
                href="https://umap.openstreetmap.fr/fr/map/bibliotheques-dobjets-et-objetheques-france_832483"
                target="_blank">Réseau</a
              >
            </li>
          </ul>
        </details>
        <details id="detail2">
          <summary>Emprunter</summary>
          <ul class="submenuMobile">
            <li><a href="CommentCaMarche.html">Comment ça marche ?</a></li>
            <li><a href="LesObjets.html">Les objets</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="IlsLOntFait.html">Ils l'ont fait !</a></li>
          </ul>
        </details>
        <details id="detail3">
          <summary>Animations</summary>
          <ul class="submenuMobile">
            <li><a href="NosAteliers.html">Nos ateliers</a></li>
            <li><a href="Agenda.html">Agenda</a></li>
          </ul>
        </details>
        <details id="detail4">
          <summary>Participer</summary>
          <ul class="submenuMobile">
            <li><a href="DevenirBenevole.html">Devenir bènèvole</a></li>
            <li><a href="FaireUnDon.html">Faire un Don</a></li>
            <li><a href="DonnerPreter.html">Donner/prêter</a></li>
            <li><a href="ChequesCadeaux.html">Chèques cadeaux</a></li>
          </ul>
        </details>
        <li><a href="Agenda.html" id="Agenda">Agenda</a></li>
      </ul>
    </nav>
  </nav>
  <div id="boutonsOranges">
    <nav class="boutonOrange scaleUpHover">
      <a href="Compte.html"
        ><p>
          Mon compte<img
            class="iconeBouton"
            src="assets/img/icon user white.png"
          />
        </p></a
      >
    </nav>
    <nav id="boutonCatalogue" class="boutonOrange scaleUpHover">
      <a
        href="https://objethequecornouaille.myturn.com/library/inventory/browse"
        ><p>
          Catalogue<img
            class="iconeBouton"
            src="assets/img/icon_catalogue.png"
          />
        </p></a
      >
    </nav>
  </div>
  <div id="widgetReseaux">
    <a
      href="https://www.facebook.com/Cornouaille/"
      target="_blank"
      class="scaleUpHover"
      ><img
        class="widgetReseau"
        alt="icône/lien vers la page Facebook"
        src="assets/svg/Facebook_icon.svg"
      /></a
    >
    <a
      href="https://www.instagram.com/cornouaille/"
      target="_blank"
      class="scaleUpHover"
      ><img
        class="widgetReseau"
        alt="icône/lien vers l'instagram de l'association"
        src="assets/svg/instagram-social-media.svg"
      /></a
    >
    <a
      href="https://www.linkedin.com/cornouaille/"
      target="_blank"
      class="scaleUpHover"
      ><img
        class="widgetReseau"
        alt="icône/lien vers la page linkedin"
        src="assets/svg/linkedin.svg"
      /></a
    >
  </div>
</header>
