<header>
  <div class="logo">
    <a href="index.html"
      ><img
        id="logo-site"
        alt="logo de l'objetheque de Cornouaille"
        src="assets/img/logo.png"
      /></a
    >
  </div>
  <!--DEBUT Menu pour le format écran ordinateur-->
  <nav class="navWeb">
    <ul id="menuWeb">
      <li>
        <a href="apropos.html">à propos</a>
        <ul class="submenu">
          <li>
            <a href="apropos.html#H200">Nos valeurs</a>
          </li>
          <li>
            <a href="apropos.html#H201">Notre équipe</a>
          </li>
          <li>
            <a href="apropos.html#H202">Nos partenaires</a>
          </li>
          <li>
            <a href="apropos.html#H203">Les medias en parlent</a>
          </li>
          <li>
            <a href="apropos.html#H205">Documents utiles</a>
          </li>
          <li>
            <a
              href="https://umap.openstreetmap.fr/fr/map/bibliotheques-dobjets-et-objetheques-france_832483"
              target="_blank">Réseau</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="adhesion.html">adhérer</a>
        <ul class="submenu">
          <li><a href="adhesion.html">Particulier</a></li>
          <li><a href="entreprise.html">Entreprise</a></li>
        </ul>
      </li>
      <li>
        <a href="comment-ca-marche.html">Emprunter</a>
        <ul class="submenu">
          <li><a href="comment-ca-marche.html">Comment ça marche ?</a></li>
          <li><a href="objets.html">Les objets</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="ilslontfait.html">Ils l'ont fait !</a></li>
        </ul>
      </li>
      <li>
        <a href="faire-un-don.html">Participer</a>
        <ul class="submenu">
          <li><a href="devenir-benevole.html">Devenir bènèvole</a></li>
          <li><a href="faire-un-don.html">Faire un don financier</a></li>
          <li><a href="donner-preter.html">Donner/prêter un objet</a></li>
          <li><a href="cheques-cadeaux.html">Chèques cadeaux</a></li>
        </ul>
      </li>
      <li>
        <a href="nos-ateliers.html">animations</a>
        <ul class="submenu">
          <li><a href="nos-ateliers.html">Nos ateliers</a></li>
          <li><a href="agenda.html">Agenda</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!--FIN Menu pour le format écran ordinateur-->
  <nav class="navMobile" aria-label="menu déroulant">
    <input type="checkbox" id="hamburgerMenuToggle" />
    <label
      for="hamburgerMenuToggle"
      class="hamburgerMenuContainer"
      aria-label="Cliquez sur moi pour ouvrir le menu"
    >
      <div class="barreMenu"></div>
    </label>
    <nav id="navigationWrapper" class="wide">
      <ul id="menuMobile">
        <details>
          <summary>À propos</summary>
          <ul class="submenuMobile">
            <li>
              <a href="apropos.html#H200">Nos valeurs</a>
            </li>
            <li>
              <a href="apropos.html#H201">Notre équipe</a>
            </li>
            <li>
              <a href="apropos.html#H202">Nos partenaires</a>
            </li>
            <li>
              <a href="apropos.html#H203">Les medias en parlent</a>
            </li>
            <li>
              <a href="apropos.html#H205">Documents utiles</a>
            </li>
            <li>
              <a
                href="https://umap.openstreetmap.fr/fr/map/bibliotheques-dobjets-et-objetheques-france_832483"
                target="_blank">Réseau</a
              >
            </li>
          </ul>
        </details>
        <details>
          <summary>Adhérer</summary>
          <ul class="submenuMobile">
            <li><a href="adhesion.html">Particulier</a></li>
            <li><a href="entreprise.html">Entreprise</a></li>
          </ul>
        </details>
        <details>
          <summary>Emprunter</summary>
          <ul class="submenuMobile">
            <li>
              <a href="comment-ca-marche.html">Comment ça marche ?</a>
            </li>
            <li><a href="objets.html">Les objets</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="ilslontfait.html">Ils l'ont fait !</a></li>
          </ul>
        </details>
        <details>
          <summary>Participer</summary>
          <ul class="submenuMobile">
            <li><a href="devenir-benevole.html">Devenir bènèvole</a></li>
            <li><a href="faire-un-don.html">Faire un don financier</a></li>
            <li><a href="donner-preter.html">Donner/prêter un objet</a></li>
            <li><a href="cheques-cadeaux.html">Chèques cadeaux</a></li>
          </ul>
        </details>
        <details>
          <summary>Animations</summary>
          <ul class="submenuMobile">
            <li><a href="nos-ateliers.html">Nos ateliers</a></li>
            <li><a href="agenda.html">Agenda</a></li>
          </ul>
        </details>
      </ul>
    </nav>
  </nav>
  <div id="boutonsOranges">
    <nav class="boutonOrange scaleUpHover">
      <a
        href="https://objethequecornouaille.myturn.com/library/myTurnLogin/auth"
        target="_blank"
        ><p>
          Mon compte<img
            class="iconeBouton"
            src="assets/img/icon user white.png"
          />
        </p></a
      >
    </nav>
    <nav id="boutonCatalogue" class="boutonOrange scaleUpHover">
      <a
        href="https://objethequecornouaille.myturn.com/library/inventory/browse"
        target="_blank"
        ><p>
          Catalogue<img
            class="iconeBouton"
            src="assets/img/icon_catalogue.png"
          />
        </p></a
      >
    </nav>
  </div>
  <div id="widgetReseaux">
    <a
      href="https://www.facebook.com/ObjethequeCornouaille"
      target="_blank"
      class="scaleUpHover"
      ><img
        class="widgetReseau"
        alt="icône/lien vers la page Facebook"
        src="assets/svg/Facebook_icon.svg"
      /></a
    >
    <a
      href="https://www.instagram.com/objetheque_cornouaille/"
      target="_blank"
      class="scaleUpHover"
      ><img
        class="widgetReseau"
        alt="icône/lien vers l'instagram de l'association"
        src="assets/svg/instagram-social-media.svg"
      /></a
    >
    <a
      href="https://fr.linkedin.com/company/l-objeth%C3%A8que-de-cornouaille"
      target="_blank"
      class="scaleUpHover"
      ><img
        class="widgetReseau"
        alt="icône/lien vers la page linkedin"
        src="assets/svg/linkedin.svg"
      /></a
    >
  </div>
</header>
<div class="headerFix"></div>
