<section id="tableauProg">
  <iframe
    src="https://objethequecornouaille.myturn.com/library/inventory/browse?embed=true"
    width="90%"
    height="800px"></iframe>
  <script id="myturn-embed-script" src="https://objethequecornouaille.myturn.com/library/assets/ui/myturn-embed/myturn-embed.js"></script>
</section>
